<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_icone"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Diogo"
        tools:targetApi="31">
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".clientes.RegistroActivity"></activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".clientes.ClientesActivity"></activity>
        <activity android:name=".vinhos.RegistroVinhosActivity"> </activity>
        <activity android:name=".clientes.EditUserActivity"> </activity>
        <activity android:name=".vinhos.VinhosActivity"> </activity>
        <activity android:name=".vinhos.EditVinhoActivity" > </activity>
        <activity android:name=".vendas.RegistroVendaActivity" > </activity>
        <activity android:name=".vendas.VendasActivity" > </activity>
        <activity android:name=".RelatorioActivity" > </activity>
        <activity android:name=".GerarRelatorio" > </activity>
        <activity android:name=".RelatorioMesActivity" > </activity>


    </application>

</manifest>